#headingTwo {
    margin-top: -40rem;
    @media only screen and (max-width:$bp-large) {
       display: none;
    }
}

.bannerTwo {
   
     display: grid;
     grid-template-rows: 35rem;
     grid-template-columns: repeat(6, 1fr);

     @media only screen and (max-width:$bp-large) {
        margin-top: 10rem;
     }
    

    &__container {
        grid-row: 1 / -1;
        grid-column: 4 / -1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 6rem;
        position: relative;
        
    }
    &__p {
        text-align: center;
        font-size: 1.9rem;
        color: $color-secondary;
        
    }
    &__img {
        width: 35rem;

        @media only screen and (max-width:$bp-wide-4) {
            width: 30rem;
         }
    }

    &__btn {
       margin-right: 2rem;
    }



}
.bannerTwo__info {
         
    position: absolute;
    top: -15rem;
    left: 35%;
    background: $color-primary;
    color: $color-white;
    padding: 2rem;
    border-radius: 3rem;
    width: 27rem;
    margin: 0;
    clip-path: circle(15% at 17% 75%); 
    transition: all .4s ease-in-out;
    cursor: pointer;
    text-align: center;
    @media only screen and (max-width:$bp-wide-4) {
        top: 10rem;
        left: -2%;
     }
    @media only screen and (max-width:$bp-wide-3) {
        clip-path: circle(13% at 17% 75%);
        
     }
    @media only screen and (max-width:$bp-large) {
        top: 5%;
        left: -45%;
     }
    @media only screen and (max-width:$bp-small) {
        top: 5%;
        left: -55%;
     }
    @media only screen and (max-width:$bp-small-2) {
        
        left:-65%;
     }
 
    
    &:hover {
        clip-path: circle(75%);
        background: $color-secondary;
        
    }
    &:hover .bannerTwo__info--icon {
        opacity: 0;
    }

    &--h1 {
     
        @media only screen and (max-width:$bp-wide-3) {
            font-size: 2rem;
         }

        @media only screen and (max-width:$bp-small-2) {
            font-size: 2rem;
         }
    }

    &--span {
        position: relative;
        margin-right: -4%;
        transition: all .5s ease-in-out;
    
    }

    &--icon {
        font-size: 3.5rem;
         float: left;
         padding-left: 2rem;
         padding-bottom: 3rem;
         @media only screen and (max-width:$bp-wide-3) {
           padding-bottom: 0;
            
         }
       @media only screen and (max-width:$bp-small-2) {
            padding-top: 2rem;
            padding-bottom: 2rem;
         } 
        
    }

    &--btn {
        padding: 1rem 1.7rem;
        font-size: 1.1rem;
        margin-right: 1.8rem;
    }
    
}


